*{
	margin: 0;
	padding: 0;
}
.main {
	width: 1200px;
	height: 850px;
	background-color: #eee;
	margin: 0px auto;
}
#title {
	height: 50px;
	line-height: 50px;
	background-color: #ddd;
	text-align: center;
	margin:0 auto;
	width: 1200px;
}
.contain {
	position: relative;
	width: 800px;
	height: 800px;
	float: left;
	background-color: #ccc;
}
.scorePart {
	float: left;
	width: 400px;
	height: 800px;
	background-color: #bbb;
}
