 .time-item {
     width: 430px;
     height: 45px;
     margin: 0 auto;
 }

 .time-item strong {
     background: lightpink;
     color: #fff;
     line-height: 49px;
     font-size: 36px;
     font-family: Arial;
     padding: 0 10px;
     margin-right: 10px;
     border-radius: 5px;
     box-shadow: 1px 1px 3px rgba(2, 2, 2, 0.4);
 }

 .time-item>span {
     float: left;
     line-height: 49px;
     color: lightpink;
     font-size: 32px;
     margin: 0 10px;
     font-family: Arial, Helvetica, sans-serif;
 }

  .time-together {
      width: 430px;
      height: 45px;
      margin: 0 auto;
  }

  .time-together strong {
      background: lightpink;
      color: #fff;
      line-height: 49px;
      font-size: 36px;
      font-family: Arial;
      padding: 0 10px;
      margin-right: 10px;
      border-radius: 5px;
      box-shadow: 1px 1px 3px rgba(2, 2, 2, 0.4);
  }

  .time-together>span {
      float: left;
      line-height: 49px;
      color: lightpink;
      font-size: 32px;
      margin: 0 10px;
      font-family: Arial, Helvetica, sans-serif;
  }

 .title {
     width: 260px;
     height: 50px;
     margin: 20px auto ;
     color: orange;
 }